@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Tinos", serif;
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

a {
    font-size: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

body,
html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    height: 100%;
    width: 80%;
    margin: auto;
    color: inherit;
}

.green {
    color: #00FF88;
}

main {
    flex-grow: 1;
}

section {
    padding: 30px 0;
}


header {
    width: 100%;
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%;  
}

.header__top {
    font-size: 15px;
    background-color: #000;
    color: #fff;
}

.header__top .container {
    display: flex;
    align-content: center;
    gap: 20px;
}

.header__top a {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}


.header__bottom {
    padding: 10px;
    position: relative;
    background-color: #00000080;
}

.header__title {
    color: #fff;
    position: absolute;
    text-wrap:nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.burger-menu {
    width: fit-content;
    position: relative;
}

.burger-menu:hover nav {
    transform: scaleY(1);
}

.lines {
    gap: 10px;
    height: fit-content;
    display: grid;
    width: fit-content;
    grid-template-rows: repeat(3, 10px);

}

.line {
    background-color: #D9D9D9;
    width: 50px;
    height: 10px;
    border-radius: 50px;
}

nav {
    transition: .3s;
    transform-origin: top;
    position: absolute;
    bottom: -200%;
    left: 0;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 40px;
    width: fit-content;
    transform: scaleY(0);
}

.welcome {
    height: 900px;
    background-size: cover;
    background-image: url("../img/layout/welcome.png");
}

.welcome .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    max-width: 420px;
    line-height: 55px;
}



.history {
    background-color: #002514;
}

.history__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history__img {
    margin-left: -70px;
    display: block;
    height: 90%;
}

.history__text {
    max-width: 50%;
    letter-spacing: 2%;
    font-size: 30px;
    padding: 30px 250px 30px 30px;
    background-color: #fff;
    border-radius: 7px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.about {
    background-image: url("../img/layout/about.png");

}

.about__text {
    background-color: #fff;
    padding: 40px;
    font-size: 30px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.about__img{
    width: 200px;
    margin-top: 20px;
    object-fit: contain;  
    aspect-ratio: 1;
    
}

.services{
    background-color: #002514;
}

.services__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    column-gap: 30px;
    row-gap: 40px;
}
.services__item{
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    aspect-ratio: 4/5;
    background-color: #fff;
    transition: all 125ms ease;
}
.services__item:hover{
    transform: scale(.9);
}
.services__img{
    width: 50%;
    aspect-ratio: 1;
}
.services__title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
}

.contacts{
    padding: 0 0 30px;
}
.contacts__title{
    background-image: url("../img/layout/contacts.png");
    background-position: center;
    background-size: cover;
    font-size: 40px;
    padding: 40px;
    background-color: #fff;
}

.contacts__wrapper{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}


footer{
    background-color: #00000080;
    text-align: center;
    font-size: 24px;
    padding: 10px;
}



@media screen and (max-width:768px) {
    .history__wrapper{
        flex-direction: column;
    }
    .history__text{
        padding: 30px 30px 250px 30px;
        max-width: 100%;
    }
    .history__img{
        margin-top: -70px;
        margin-left: 0;
    }
}